<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="backgroundColorPainel" value="#FFF0E0"></add>
	</appSettings>
	<connectionStrings>
		<add name="ServidorBanco" connectionString="WIN2008R2BS,29981" providerName="System.Data.SqlClient" />
		<add name="NomeBanco" connectionString="Artven2Lab" providerName="System.Data.SqlClient" />
		<add name="LoginBanco" connectionString="artven2" providerName="System.Data.SqlClient" />
		<add name="SenhaBanco" connectionString="QskeJi2E1tZYDh0gh3szlw==" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>