a
{
	text-decoration: none;
}
body {
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	border: 0pt solid #000000;
	}

body::before {
	content: 'As informações aqui contidas são confidenciais e protegidas pelo sigilo legal. A divulgação, distribuição ou reprodução destas informações depende da autorização do emissor.';
	font-weight: bold;
	font-style: italic;
	font-size: 9pt;
	color: #696969;
	text-align: center;
	border: solid 2px #696969;
	display: block;
	position: relative;
	padding: 4px;
	margin-top: 2px;
	margin-bottom: 8px;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	} 

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	}

.ALERTA{
	background: #F00000;
	border: 1pt solid #FF0000;
	color: #FFFF00;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	}
	
.Botao {
	background: #00BFFF;
	border: 3px double #696969;
	cursor: pointer;
	text-align: center;
}

.Button {
	background: #F5F5F5;
	border: 3px double #808080;
	color: #808080;
	font-size: 8pt;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.CBOX {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	border: 0px;
	}

.C{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 8pt;
	font-weight: bold;
	font-style: normal;
	margin: 0pt 2pt 1pt 2pt;
	}

.Cc{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 8pt;
	font-weight: bold;
	font-style: normal;
	margin: 0pt 2pt 1pt 2pt;
	text-align: center;
	}

.Cd{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 8pt;
	font-weight: bold;
	font-style: normal;
	margin: 0pt 2pt 1pt 2pt;
	text-align: right;
	}

.Cn{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 8pt;
	font-style: normal;
	margin: 0pt 2pt 1pt 2pt;
	}

.Cnc{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 8pt;
	font-style: normal;
	margin: 0pt 2pt 1pt 2pt;
	text-align: center;
	}

.Cnd{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 8pt;
	font-style: normal;
	margin: 0pt 2pt 1pt 2pt;
	text-align: right;
	}

.DefaultBkg{
	background: #E0FFFF;
	}
	
.Expl{
	font-family: Arial, Times New Roman, serif;
	font-size: 10pt;
	font-style: italic;
	color: #808080;
	}
	
.F{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 9pt;
	font-weight	: bold;
	font-style: normal;
	margin: 0pt 4pt 0pt 4pt;
	}

.HoraPed{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	}
	
.L{
	font-family: Arial, Helvetica, sans-serif;
	color: #808080;
	font-size: 8pt;
	font-weight: bold;
	font-style: normal;
	margin: 0pt 0pt 0pt 0pt;
	text-align: right;
	}

.Lbl{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #808080;
	}

.LAlteraSenha{
	font-family: Arial, Helvetica, sans-serif;
	color: #008000;
	font-size: 8pt;
	font-weight: bold;
	font-style: normal;
	margin: 0pt 0pt 0pt 0pt;
	text-align: right;
	}

.LPagInicial{
	font-family: Arial, Helvetica, sans-serif;
	color: #008000;
	font-size: 8pt;
	font-weight: bold;
	font-style: normal;
	margin: 0pt 0pt 0pt 0pt;
	text-align: right;
	}

.LSessaoEncerra{
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	margin: 0pt 0pt 0pt 0pt;
	text-align: right;
	}

.LPesqCep{
	font-family: Arial, Helvetica, sans-serif;
	color: #00BFFF;
	font-size: 8pt;
	font-weight: bold;
	font-style: normal;
	margin: 0pt 0pt 0pt 0pt;
	text-align: right;
	cursor: pointer;
	}

.MB{
	border-bottom: 1pt solid #C0C0C0;
	}

.MC{
	border-top: 1pt solid #C0C0C0;
	}

.MD{
	border-right: 1pt solid #C0C0C0;
	}

.MDB{
	border-right: 1pt solid #C0C0C0;
	border-bottom: 1pt solid #C0C0C0;
	}

.MDBE{
	border-right: 1pt solid #C0C0C0;
	border-bottom: 1pt solid #C0C0C0;
	border-left: 1pt solid #C0C0C0;
	}

.MDE{
	border-right: 1pt solid #C0C0C0;
	border-left: 1pt solid #C0C0C0;
	}

.MDTE{
	border-right: 1pt solid #C0C0C0;
	border-top: 1pt solid #C0C0C0;
	border-left: 1pt solid #C0C0C0;
	}

.ME{
	border-left: 1pt solid #C0C0C0;
	}

.MEB{
	border-left: 1pt solid #C0C0C0;
	border-bottom: 1pt solid #C0C0C0;
	}

.MT{
	border: 1pt solid #C0C0C0;
	}

.MTB{
	border-top: 1pt solid #C0C0C0;
	border-bottom: 1pt solid #C0C0C0;
	}

.MTBD{
	border-top: 1pt solid #C0C0C0;
	border-bottom: 1pt solid #C0C0C0;
	border-right: 1pt solid #C0C0C0;
	}

.MTBE{
	border-top: 1pt solid #C0C0C0;
	border-bottom: 1pt solid #C0C0C0;
	border-left: 1pt solid #C0C0C0;
	}

.MTD{
	border-top: 1pt solid #C0C0C0;
	border-right: 1pt solid #C0C0C0;
	}

.MTE{
	border-top: 1pt solid #C0C0C0;
	border-left: 1pt solid #C0C0C0;
	}
	
.MtAviso {
	background: #E0FFFF;
	color: #000080;
	border: 1pt solid #000080;
	margin: 0px 0px 0px 0px; 
	}

.MtAlerta {
	background: #F00000;
	color: #FFFF00;
	border: 1pt solid #FF0000;
	margin: 0px 0px 0px 0px; 
	}

.MtLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	background: #FFFAF0;
	color: #2F4F4F;
	border: 1pt solid #000000;
	margin: 0px 0px 0px 0px; 
	cursor: pointer;
	}

.N {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	}

.Np{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	}

.OpPg
{
	font-size: 10pt;
	color: #000000;
	font-style: normal;
	font-family: Arial;
	text-decoration: none;
}

.PEDIDO{
	font-family: Times New Roman, serif;
	font-size: 18pt;
	font-weight: bold;
	font-style: italic;
	}

.PLLc{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	text-align:center;
	margin-left:1pt;
	margin-right:1pt;
	background: #FFFFFF;
	border: 0pt;
	border-bottom: 0pt;
	}

.PLLd{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	text-align:right;
	margin-left:1pt;
	margin-right:1pt;
	background: #FFFFFF;
	border: 0pt;
	border-bottom: 0pt;
	}

.PLLe{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	margin-left:1pt;
	margin-right:1pt;
	background: #FFFFFF;
	border: 0pt;
	border-bottom: 0pt;
	}

.PLTc{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #808080;
	font-weight: bold;
	vertical-align: top;
	text-align:center;
	margin-right:2pt;
	}

.PLTd{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #808080;
	font-weight: bold;
	vertical-align: top;
	text-align:right;
	margin-right:2pt;
	}

.PLTe{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #808080;
	font-weight: bold;
	vertical-align: top;
	margin-left:2pt;
	}

.PLBc{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	text-align:center;
	margin-left:1pt;
	margin-right:1pt;
	background: #FFFFFF;
	}

.PLBd{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	text-align:right;
	margin-left:1pt;
	margin-right:1pt;
	background: #FFFFFF;
	}

.PLBe{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	margin-left:1pt;
	margin-right:1pt;
	background: #FFFFFF;
	}

.Q{
	background: #FFFFFF;
	border: 1pt solid #C0C0C0;
	margin: 0pt;
	}

.Qt{
	background: #FFFFFF;
	margin: 0pt;
	border-top: 1pt solid #C0C0C0;
	border-bottom: 0pt;
	border-left: 0pt;
	border-right: 0pt;
	}
	
.QFn{
	background: #FFFFFF;
	border: 1pt solid #C0C0C0;
	margin: 0 50 0 50;
	background:#E0FFFF;
	width:500px;
	}

.QuadroAviso {
	font-weight: bold;
	font-size: 10pt;
	background: #FFFFFF;
	width: 640px;
	height: 240px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0pt;
}

.QS{
	background: #FFFFFF;
	border: 1pt solid #C0C0C0;
	border-top: 0pt;
	margin: 0pt;
	}

.QT{
	background: #FFFFFF;
	margin-top: 0pt;
	}

.Qx{
	background: #FFFFFF;
	border: 0pt;
	margin: 0pt;
	}

.R{
	font-family: Arial, Helvetica, sans-serif;
	color: #808080;
	font-size: 8pt;
	font-weight: bold;
	vertical-align: top;
	margin: 1pt 0pt 0pt 2pt;
	}

.Rf{
	font-family: Arial, Helvetica, sans-serif;
	color: #808080;
	font-size: 8pt;
	font-weight: bold;
	vertical-align: top;
	margin: 0pt 0pt 0pt 2pt;
	}

.rbLink {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	border: 0px;
	cursor: pointer;
	}

.Rc{
	font-family: Arial, Helvetica, sans-serif;
	color: #808080;
	font-size: 8pt;
	font-weight: bold;
	vertical-align: top;
	margin: 1pt 0pt 0pt 2pt;
	text-align: center;
	}

.Rd{
	font-family: Arial, Helvetica, sans-serif;
	color: #808080;
	font-size: 8pt;
	vertical-align: top;
	margin: 0pt 4pt 0pt 2pt;
	text-align: right;
	}

.STP{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	}

.T {
	color		: #00BFFF;
	font-family	: Times New Roman, serif;
	font-size	: 16pt;
	font-weight	: bold;
	font-style	: italic;
	text-align	: center;
	}

.TA{
	background: #FFFFFF;
	border: 0pt;
	border-bottom: 0pt;
	}

.TFn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	margin: 10 10 10 10;
	}

.TracoBottom {
	border-bottom: 1px solid #0097C9;
}
