<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="backgroundColorPainel" value="#D2EFEE"/>
    <add key="bancosAIgnorar" value="237"/>
  </appSettings>
  <connectionStrings>
    <add name="ServidorBanco" connectionString="WIN2008R2BS,29981" providerName="System.Data.SqlClient" />
    <add name="NomeBanco" connectionString="Artven2Dis" providerName="System.Data.SqlClient" />
    <add name="LoginBanco" connectionString="artven2" providerName="System.Data.SqlClient" />
    <add name="SenhaBanco" connectionString="BrTNioxqGIYLiYJzSPqMDg==" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>