<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="AmbienteExecucao" value="Desenvolvimento"/>
		<add key="QtdeAmbientesBD" value="1"/>
		<add key="IndiceAmbienteBDBase" value="1"/>
		<add key="backgroundColorPainelAjusteAuto" value="false"></add>
		<add key="backgroundColorPainel" value="#FFF0E0"></add>
		<add key="ConsolidaDadosPlanilhaControleExcelVisible" value ="0" />
		<add key="ConsolidaDadosPlanilhaPrecosExcelVisible" value="0" />
		<add key="AtualizaPrecosSistemaPlanilhaControleExcelVisible" value="0" />
		<add key="PRODUCAO-MagentoApiUrl" value="https://www.arclube.com.br/index.php/api/index/index/" />
		<add key="PRODUCAO-MagentoApiUser" value="ERP" />
		<add key="PRODUCAO-MagentoApiPassword" value="za8+9AhLXdH3XNXD23wCEylzJh9BarkpmCmzuaRM9YI=" />

		<add key="MagentoApiUrl" value="https://arclube.lojaemteste.com.br/index.php/api/soap/index/" />
		<add key="MagentoApiUser" value="erp" />
		<add key="MagentoApiPassword" value="tTujA2Q63mBxR2RWIvVQeg==" />
	</appSettings>
	<connectionStrings>
		<add name="NomeAmbiente1" connectionString="DIS" providerName="System.Data.SqlClient"/>
		<add name="ServidorBanco1" connectionString="WIN2019DB,29981" providerName="System.Data.SqlClient"/>
		<add name="NomeBanco1" connectionString="Artven2HomologEnd" providerName="System.Data.SqlClient"/>
		<add name="LoginBanco1" connectionString="homologacao" providerName="System.Data.SqlClient"/>
		<add name="SenhaBanco1" connectionString="BrTNioxqGIYLiYJzSPqMDg==" providerName="System.Data.SqlClient"/>
		<add name="NumeroLojaArclube1" connectionString="201" providerName="System.Data.SqlClient"/>
		<add name="NomeAmbiente2" connectionString="OLD01" providerName="System.Data.SqlClient"/>
		<add name="ServidorBanco2" connectionString="WIN2008R2BS,29981" providerName="System.Data.SqlClient" />
		<add name="NomeBanco2" connectionString="Artven2Lab" providerName="System.Data.SqlClient" />
		<add name="LoginBanco2" connectionString="artven2" providerName="System.Data.SqlClient" />
		<add name="SenhaBanco2" connectionString="BrTNioxqGIYLiYJzSPqMDg==" providerName="System.Data.SqlClient" />
		<add name="NumeroLojaArclube2" connectionString="201" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>