<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="AmbienteExecucao" value="Desenvolvimento"/>
		<add key="QtdeAmbientesBD" value="1"/>
		<add key="IndiceAmbienteBDBase" value="1"/>
		<add key="backgroundColorPainelAjusteAuto" value="false"></add>
		<add key="backgroundColorPainel" value="#EEFAED"></add>
		<add key="AtualizaPlanilhaEstoqueExcelVisible" value="0"/>
		<add key="AtualizaCorFundoCellQtdeEstoque" value="0"/>
	</appSettings>
	<connectionStrings>
		<add name="NomeAmbiente1" connectionString="DIS" providerName="System.Data.SqlClient"/>
		<add name="ServidorBanco1" connectionString="WIN2019DB,29981" providerName="System.Data.SqlClient"/>
		<add name="NomeBanco1" connectionString="artven2DIS_20211111" providerName="System.Data.SqlClient"/>
		<add name="LoginBanco1" connectionString="artven2" providerName="System.Data.SqlClient"/>
		<add name="SenhaBanco1" connectionString="BrTNioxqGIYLiYJzSPqMDg==" providerName="System.Data.SqlClient"/>
		<add name="NumeroLoja1" connectionString="202" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
