<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ServiceName" value="FinanceiroServiceDesenvolvimento"/>
		<add key="DisplayName" value="Financeiro Desenvolvimento"/>
		<add key="AmbienteExecucao" value="Desenvolvimento"/>
		<add key="BraspagWsEnderecoPagadorTransaction" value="https://transactionsandbox.pagador.com.br/webservice/pagadortransaction.asmx"/>
		<add key="BraspagWsEnderecoPagadorQuery" value="https://transactionsandbox.pagador.com.br/services/pagadorQuery.asmx"/>
		<add key="ClearsaleEntityCode" value="DC2189FF-54D3-4976-9A69-772A30ECC640"/>
		<add key="ClearsaleWsEnderecoService" value="http://homologacao.clearsale.com.br/integracaov2/Service.asmx"/>
		<add key="ClearsaleWsEnderecoExtendedService" value="http://homologacao.clearsale.com.br/integracaov2/ExtendedService.asmx"/>
		<add key="RemetenteMsgAlertaSistema" value="sentinela_finsvc@bonshop.com.br"/>
		<add key="DestinatarioMsgAlertaSistema" value="adm_finsvc_clearsale@bonshop.com.br,hamilton@bonshop.com.br"/>
		<!-- O parâmetro WebhookBraspagMerchantIdList contém o MerchantId cadastrado na Braspag para cada empresa -->
		<!-- O MerchantId é usado no processamento dos dados do 2º post da Braspag (webhook) gravados na tabela t_BRASPAG_WEBHOOK -->
		<!-- A Braspag envia os dados através de um post na URL cadastrada, sendo que as URL's estão sendo tratadas por uma WebAPI (projeto WebHook) -->
		<!-- Para cada empresa, foi definida uma URL diferente, sendo que, na gravação dos dados, a WebAPI registra um código para identificar a empresa ('OLD02', 'DIS')  -->
		<add key="WebhookBraspagMerchantIdList" value="DIS=BBE2B085-858B-46B4-999D-D1D675525231|OLD02=62D7C0A7-505B-E311-93FD-0026B939D54B"/>
		<!-- O parâmetro WebhookBraspagPlanoContasBoletoEC indica o plano de contas a ser usado na gravação do lançamento no fluxo de caixa -->
		<!-- Formato: IdentificadorEmpresa=id_conta_corrente;id_plano_contas_empresa;id_plano_contas_conta -->
		<!-- Obs: o valor de id_plano_contas_grupo deve ser obtido através do cadastro do plano de contas -->
		<add key="WebhookBraspagPlanoContasBoletoEC" value="DIS=4;1;9902|OLD02=4;1;9902"/>
		<!-- O parâmetro CancelamentoAutomaticoPedidosLojasIgnoradas indica as lojas cujos pedidos devem ser ignorados na rotina de cancelamento automático de pedidos. -->
		<!-- Formato: as lojas devem ser separadas por vírgula e sem espaços (ex: value="204,205") -->
		<add key="CancelamentoAutomaticoPedidosLojasIgnoradas" value="205"/>
	</appSettings>
	<connectionStrings>
		<add name="ServidorBanco" connectionString="WIN2008R2BS,29981" providerName="System.Data.SqlClient"/>
		<add name="NomeBanco" connectionString="artven2DIS" providerName="System.Data.SqlClient"/>
		<add name="LoginBanco" connectionString="artven2" providerName="System.Data.SqlClient"/>
		<add name="SenhaBanco" connectionString="BrTNioxqGIYLiYJzSPqMDg==" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
		</startup>
</configuration>
